<%= simple_form_for @project do |f| %>
	<div class="full-height-wrapper p-8 text-gray-800 flex" data-controller="projects">
		<div class="container bg-white p-8 w-1/3 mr-3 h-full sticky top-0">	
			<div class="field mb-4">
				<%= f.input :title, label: false, placeholder: 'Title',
										input_html: { class: 'text-4xl font-bold mb-4 w-full' } %>
				
			</div>
			
			<div class="field mb-4">
				<%= f.input :description, label: false, placeholder: 'Description...',
										input_html: { class: 'w-full' } %>

			</div>

			<%= f.submit 'Save', class: 'main-btn text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full cursor-pointer' %>

			<div class="w-full p-6">
				<%= abymize(:participants, f) %>
			</div>
		</div>
		<div class="container bg-white p-8 w-2/3 ml-3">
			<%= abymize(:tasks, f) %>
		</div>
	</div>
<% end %>