<!DOCTYPE html>
<html>
  <head>
    <title>RorSandbox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <title>abyme</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>

  <body class="bg-gray-100 font-sans">
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
